* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
}

.grid {
    width: 1000px;
    height: 550px;
    margin: 10px auto;
    position: relative;
    background-color: #333;
}

.point {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.box {
    border: 2px dashed #fff;
    display: flex;
    color: #fff;
    align-items: center;    
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

.controls {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
}

.control {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
    flex-direction: column;
}

.control label {
    font-size: 13px;
    font-weight: bold;
}

.control input {
    height: 30px;
    width: 150px;
    border: 1px solid #333;
    padding: 0 10px;
    font-size: 13px;
}

.gen-clusters button {
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}